spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/Transactiondb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
